<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<codeviewToolbars>
		<item type="g_start" />
		<item type="image" name="Save" postback="True" />
		<item type="image" name="SelectAll" />
		<item type="image" name="SelectNone" />
		<item type="g_end" />
	</codeviewToolbars>
	<toolbars>
    <item type="dropdown" name="CssClass" width="70" RenderItemBorder="true" text="[[CssClass]]"
    command="CssClass" />
    <item type="dropdown" name="FormatBlock" width="70" RenderItemBorder="true" text="[[Paragraph]]"
			command="FormatBlock" />
    <item type="dropdown" name="FontSize" width="40" text="[[FontSize]]" command="FontSize" />
    <item type="separator" />
		<item type="image" name="Save" postback="True" />
		<item type="image" name="Bold" />
		<item type="image" name="Italic" />
		<item type="image" name="Underline" imagename="under" />
		<item type="image" name="JustifyLeft" imagename="left" />
		<item type="image" name="JustifyCenter" imagename="center" />
		<item type="image" name="JustifyRight" imagename="right" />
		<item type="holder" name="insertcustombutonhere" />
    <item type="separator" />
    <item type="image" name="InsertOrderedList" imagename="numlist" />
    <item type="image" name="InsertUnorderedList" imagename="bullist" />
    <item type="image" name="Indent" />
    <item type="image" name="Outdent" />
    <item type="forecolor" />
    <item type="backcolor" />
    <item type="separator" />
    <item type="separator" />
    <item type="image" name="ImageGalleryByBrowsing" imagename="image" />
    <item type="image" name="InsertImage" imagename="eximage" />
    <item type="image" name="InsertFlash" imagename="flash" />
    <item type="image" name="InsertMedia" imagename="media" />
    <item type="image" name="InsertDocument" imagename="document" />
    <item type="image" name="InsertTemplate" imagename="template" />
    <item type="table" />
    <item type="image" name="Help" />
    <item type="separator" />

	</toolbars>
</configuration>