@charset "utf-8";
/*con区域*/
.con{ width:1002px; height:860px; margin:0 auto;}
.con .conl{ width:251px; height:774px; float:left;}

.con .conl .conlbg{ width:8px; height:774px; background:url(../images/about/leftbg.jpg) no-repeat; float:left;}
.con .conl .conlin{ width:251px; height:772px; border:1px solid #D0D0D0; background:#F7F7F7;}
.con .conl .conlin .about{ width:210px; padding:0 20px 0 20px;}
.con .conl .conlin .about li{ width:210px; height:86px; line-height:86px; color:#B9B9B9; font-size:24px; text-align:center; border-bottom:1px dashed #b9b9b9;}
.con .conl .conlin .about li a{ color:#b9b9b9;}
.con .conl .conlin .about li a:hover{ color:#7E7E7E;}
.con .conrr{ width:734px; height:772px; background:#F7F7F7; float:left; border:1px solid #D0D0D0; border-right:none;}
.con .conrrbg{ width:8px; height:772px; background:url(../images/about/rightbg.jpg) no-repeat; float:left;}
.con .conrr .lianxi{ width:700px; height:36px; float:left; padding-top:24px; font-weight:normal; color:#0E8AD1; border-bottom:1px solid #b9b9b9; margin:0 15px 0 15px; line-height:36px;}
.con .conrr .content{ padding:30px 0 0 15px; clear:both; color:#666; font-size:16px; line-height:30px; width:400px; float:left;}
.con .conrr .content li a{ color:#0E8AD1;}
.con .conrr .erweima{ width:180px; height:180px; float:right; padding:30px 78px 0 0;}
