<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>舒雅纸业</title>
<link type="text/css" rel="stylesheet" href="{{static_url('css/aboutus.css')}}">
</head>

<body>
{% include header.html %}
<div class="con">
	{% include left.html %}
    <div class="conrr">
    	<h2 class="lianxi">关于我们</h2>
        <p class="introduce">
        	漯河舒雅纸业是一家生产，研发，销售于一体的专业商用纸品公司，拥有先进的生产设备，和熟练的生产工人，舒雅纸业是一家生产，研发，销售于一体的专业商用纸品公司，拥有先进的生产设备，和熟练的生产工人舒雅纸业是一家生产，研发，销售于一体的专业商用纸品公司，拥有先进的生产设备，和熟练的生产工人舒雅纸业是一家生产，研发，销售于一体的专业商用纸品公司，拥有先进的生产设备，和熟练的生产工人
        </p>
    </div>
    <div class="conrrbg"></div>
</div>
{% include footer.html %}
</body>
</html>
