<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>舒雅纸业</title>
<link type="text/css" rel="stylesheet" href="{{static_url('css/common.css')}}">
<link type="text/css" rel="stylesheet" href="{{static_url('css/about.css')}}">
</head>

<body>
{% include header.html %}
<div class="con">
	{% include left.html %}
    <div class="conrr">
    	<h2 class="lianxi">联系我们</h2>
        <ul class="content">
        	<li>名称：<lable class="companyname">漯河舒雅纸业</lable></li>
            <li>电话：<lable class="mobile">13849499216</lable></li>
            <li>微信订阅号：<lable class="wxname">舒雅纸业</lable></li>
            <li>QQ：<lable class="qq">1457355625</lable></li>
            <li>网址：<a href="http://www.shuyazy.com/">http://www.shuyazy.com/</a></li>
            <li>Email:<lable class="email">shuya@shuyazy.com</li>
            <li>淘宝网店：<a class="taobao_url" href="#" target="_blank"></a></li>
            <li>地址：<lable class="address">漯河市黄河路中段劳动局西邻</lable></li>
        </ul>
        <div class="erweima">
        	<img src="{{static_url('images/about/erweima.jpg')}}" width="180" height="180">
        </div>
    </div>
    <div class="conrrbg"></div>
</div>
{% include footer.html %}
</body>
</html>
