<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>舒雅纸业</title>
<link type="text/css" rel="stylesheet" href="css/product.css">
</head>

<body>
{% include header.html %}
<div class="con">
	<div class="topborder"></div>
    <div class="leftbg"></div>
    <div class="centerbg">
    	<ul class="connav">
        	<li><a href="#">NEW</a></li>
            <li><a href="#">湿巾</a></li>
            <li><a href="#">广告盒抽</a></li>
            <li><a href="#">火柴</a></li>
            <li><a href="#">火机</a></li>
            <li><a href="#">筷套/牙签</a></li>
            <li><a href="#">客房套间</a></li>
            <li><a href="#">其他</a></li>
        </ul>	
    </div>
    <div class="product">
    	<ul class="productone">
        	<li style="margin:0;">
            	<a href="#"><img src="images/product/pic1.jpg" width="260" height="148"></a>
                <h4>海顿：第六十交响曲“心不在焉的人”（诺灵顿）HAYD……</h4>
            </li>
            <li>
            	<a href="#"><img src="images/product/pic2.jpg" width="260" height="148"></a>
                <h4>海顿：第六十交响曲“心不在焉的人”（诺灵顿）HAYD……</h4>
            </li>
            <li>
            	<a href="#"><img src="images/product/pic3.jpg" width="260" height="148"></a>
                <h4>海顿：第六十交响曲“心不在焉的人”（诺灵顿）HAYD……</h4>
            </li>
        </ul>
        <ul class="productone">
        	<li style="margin:0;">
            	<a href="#"><img src="images/product/pic1.jpg" width="260" height="148"></a>
                <h4>海顿：第六十交响曲“心不在焉的人”（诺灵顿）HAYD……</h4>
            </li>
            <li>
            	<a href="#"><img src="images/product/pic2.jpg" width="260" height="148"></a>
                <h4>海顿：第六十交响曲“心不在焉的人”（诺灵顿）HAYD……</h4>
            </li>
            <li>
            	<a href="#"><img src="images/product/pic3.jpg" width="260" height="148"></a>
                <h4>海顿：第六十交响曲“心不在焉的人”（诺灵顿）HAYD……</h4>
            </li>
        </ul>
        <ul class="productone" style="height:auto;">
        	<li style="margin:0;">
            	<a href="#"><img src="images/product/pic1.jpg" width="260" height="148"></a>
                <h4>海顿：第六十交响曲“心不在焉的人”（诺灵顿）HAYD……</h4>
            </li>
            <li>
            	<a href="#"><img src="images/product/pic2.jpg" width="260" height="148"></a>
                <h4>海顿：第六十交响曲“心不在焉的人”（诺灵顿）HAYD……</h4>
            </li>
            <li>
            	<a href="#"><img src="images/product/pic3.jpg" width="260" height="148"></a>
                <h4>海顿：第六十交响曲“心不在焉的人”（诺灵顿）HAYD……</h4>
            </li>
        </ul>
        <div class="lastpage"><a href="#"><img src="images/product/lastpage.jpg" width="34" height="34"></a></div>
        <ul class="page">
        	<li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#">7</a></li>
            <li><a href="#">8</a></li>
            <li><a href="#">9</a></li>
        </ul>
        <div class="nextpage"><a href="#"><img src="images/product/nextpage.jpg" width="34" height="34"></a></div>
        <h3 class="tiaozhuan">跳转到…</h3>
        <textarea></textarea>
        <span><a href="index.html">GO</a></span>
    </div> 
</div>
{% include footer.html %}
</body>
</html>
