<div class="footer">
<p>公司地址：<lable class="address">河南省漯河市黄河路中段劳动局西邻版权所有</lable> 2015◎</p>
<p>联系电话：<lable class="mobile">13849499216</lable> Email：<lable class='email'>shuya@shuyazy.com</lable></p>
<ul class="rightline">
	<li><a href="#"><img src="{{static_url('images/rightline1.jpg')}}" width="50" height="50"></a></li>
	<li><a href="#"><img src="{{static_url('images/rightline2.jpg')}}" width="50" height="50"></a></li>
	<li><a href="#"><img src="{{static_url('images/rightline3.jpg')}}" width="50" height="50"></a></li>
	<li><a href="#"><img src="{{static_url('images/rightline4.jpg')}}" width="50" height="50"></a></li>
</ul>
</div>
