</head>
 <div class="nav">
	<h1 class="logo"><a href="index.html"><img src="apicloud/551390eb92cd54784a1a9e39.jpg" width="174" height="60"></a></h1>
    <div class="icon1"><a href="index.html"><img src="{{static_url('images/icon1.jpg')}}" width="42" height="66"></a></div>
    <div class="icon2"><a href="detail.html"><img src="{{static_url('images/icon2.jpg')}}" width="50" height="66"></a></div>
    <div class="icon2"><a href="talk.html"><img src="{{static_url('images/icon3.jpg')}}" width="50" height="66"></a></div>
</div>
