<script type="text/javascript" src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript" src="{{static_url('js/common.js')}}"></script>
<div class="nav">
	<ul>
		<li class="logo"><a href="/index"><img src="/apicloud/551390eb92cd54784a1a9e39.jpg" width="174" height="60"></a></li>
		<li class="icon icon_index"><a href="/index"></a></li>
		<li class="icon icon_products"><a href="/products"></a></li>
		<li class="icon icon_about"><a href="/contact"></a></li>
	</ul>
</div>
