<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>舒雅纸业</title>
<link type="text/css" rel="stylesheet" href="{{static_url('css/product.css')}}">
</head>

<body>
{% include header.html %}
<script type="text/javascript" src="{{static_url('js/jquery.pager.js')}}"></script>
<script type="text/javascript" src="{{static_url('js/jquery.lib.js')}}"></script>
<script type="text/javascript" src="{{static_url('js/products.js')}}"></script>
<script type="text/javascript">
	var pagecount ={{ pagecount }};
	var pageindex = $.get_argument('p',1);
</script>
<div class="con">
	<div class="topborder"></div>
    <div class="leftbg"></div>
    <div class="centerbg">
    	<ul class="connav">
        	<li><a href="/products/new">NEW</a></li>
            <li><a href="/products/1">湿巾</a></li>
            <li><a href="/products/2">广告盒抽</a></li>
            <li><a href="/products/3">火柴/火机</a></li>
            <li><a href="/products/4">大盘纸</a></li>
            <li><a href="/products/5">筷套/牙签</a></li>
            <li><a href="/products/6">客房套件</a></li>
            <li><a href="/products/0">其他</a></li>
        </ul>	
    </div>
    <div class="product">
    	<ul class="productone">
			{% for p in products %}
        	<li>
            	<a href="#"><img src="/apicloud/images/{{p['image_id']}}.jpg?size=260" width="260" height="148"></a>
                <h4>{{p['name']}}</h4>
            </li>
			{% end %}
        </ul>
		<div id="jpage"></div>
    </div> 
</div>
{% include footer.html %}
</body>
</html>
