<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>舒雅纸业</title>
<link type="text/css" rel="stylesheet" href="{{static_url('css/talk.css')}}">
</head>

<body>
{% include header.html %}
<div class="con">
	<div class="topborder"></div>
    <div class="conl">
    	<textarea class="fabu">写下您相对我们说的话</textarea>
        <ul class="textcss">
       		<li class="smile"><img src="{{static_url('images/talk/smile.jpg')}}" width="28" height="28"></li>
        	<li class="pic"><img src="{{static_url('images/talk/pic.jpg')}}" width="30" height="24"></li>
        	<input type="text" value="您的昵称" class="nicheng">
        	<li class="fabiao"><img src="{{static_url('images/talk/fabu.jpg')}}" width="104" height="42"></li>
        </ul>
        <ul class="talkuser">
        	<li class="talkpic"><img src="{{static_url('images/talk/yonghutouxiang.jpg')}}" width="70" height="70"></li>
            <li class="talkcon">
            	<div class="talkbg_l"></div>
            	<textarea class="talkcontain">在高分辨率和低分辨率的电脑上处理同一张图片有区别吗？真的有区别吗？真的吗？</textarea>
                <div class="talkbg_r"></div>
                <div class="timebg_l"></div>
                <div class="timein"><p style="float:right; color:#999; line-height:34px;">2014年9月27号</p><p style="float:right;color:#999; line-height:34px;">19楼|</p></div>
                <div class="timebg_r"></div>
            </li>
        </ul>
    </div>
    <ul class="conr">
    	<li class="rightlogo"><img src="{{static_url('images/talk/rightlogo.jpg')}}" width="128" height="154"></li>
        <li class="rightpic"><img src="{{static_url('images/talk/rihghtpic.jpg')}}" width="160" height="247"></li>
        <li class="rightpic"><img src="{{static_url('images/talk/rihghtpic.jpg')}}" width="160" height="247"></li>
    </ul>
    <div class="pages">
        <div class="lastpage"><a href="#"><img src="{{static_url('images/product/lastpage.jpg')}}" width="34" height="34"></a></div>
        <ul class="page">
        	<li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#">7</a></li>
            <li><a href="#">8</a></li>
            <li><a href="#">9</a></li>
        </ul>
        <div class="nextpage"><a href="#"><img src="{{static_url('images/product/nextpage.jpg')}}" width="34" height="34"></a></div>
        <h3 class="tiaozhuan">跳转到…</h3>
        <textarea></textarea>
        <span><a href="index.html">GO</a></span>
    </div>
</div>
{% include footer.html %}
</body>
</html>
